<app-navbar></app-navbar>


<div class="Main-container">
    <div class="container-forgot">
        <div class="wrap-forgot">
            <form class="forgot-form">
                <h4 class="forgot-title">Enter your Email or Mobile No. <br> and we will send you a link to reset your
                    password?</h4>

                <div class="wrap-input">
                    <input class="auth-input" placeholder="E-mail/Mobile">
                </div>
                <div><button class="auth-button">send reset Link</button></div>

                <div class="wrap-input mr-t-15">
                    <p>
                        <span>
                            &#169; Not Register with Meity Account?
                            <a><button routerLink="/registration" style="color:  rgba(2, 14, 44, 0.8) ;">Register Now
                                </button></a>
                            <p>User having an account then you can <a><button routerLink="/login"
                                        style="color:  rgba(2, 20, 59, 0.8) ; ">login</button> </a> here </p>

                        </span>
                    </p>
                </div>

            </form>

        </div>
    </div>
</div>

<app-auth-footer></app-auth-footer>